.mylogo {
    width: 15%;
    height: 200px;
    margin-top: 55px;
}

.title {
    color: white;
    border-radius: 2px;
    margin-bottom: 10px;
    height: 150px;
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    margin-bottom: 50px;
}
.title1 {
    border: 3px solid white;
    border-radius: 2px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 100px;
    padding-right: 100px;
    font-family: Staatliches;
    font-size: 70px;
}
.title2 {
    border: 3px solid white;
    border-radius: 2px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 80px;
    padding-right: 80px;
    font-family: Staatliches;
    font-size: 70px;
}
.title3 {
    border: 3px solid white;
    border-radius: 2px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
    font-family: Staatliches;
    font-size: 70px;
}
a {
    text-decoration: none;
    color: white;
}

h3 {
    font-family: Lalezar;
    font-size: 40px;
    margin-left: 45px;
    margin-right: 20px;
    margin-bottom: 1px;
    margin-top: 50px;
}

p {
    margin-top: 1px;
    margin-left: 40px;
    margin-right: 20px;
    font-family: Londrina Solid;
    font-size: 18px;
}
.preds {
    width: 80%;
}
.dronestrike {
    width: 380px;
    height: 280px;
}
.allds{
    display: flex;
    flex-direction: row;
    float: right;
}
.source {
    margin-left: 70px;
    font-size: 22.5px;
    font-family: Lalezar;
}